<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Home Decor</title>
   
    <!--for rating-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
    <link rel="stylesheet" href="assets/js/magiczoom/magiczoom.css">
    <script src="assets/js/magiczoom/magiczoom.js"></script>
</head>

<body>
    
   
    <%- include('userHeader') %>
        <main class="main">
            <div class="page-header breadcrumb-wrap">
                <div class="container">
                    <div class="breadcrumb">
                        <a href="" rel="nofollow">Home</a>
                        <span></span> Shop
                        <span></span> view product
                    </div>
                </div>
            </div>
            <section class="mt-50 mb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product-detail accordion-detail">
                                <div class="row mb-50">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="detail-gallery">
                                            <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                            <!-- Main image -->
                                            <div class="product-image-slider bg-white"
                                                style="max-width: 570px; max-height: 570px; ">
                                               
                                                    <figure class="border-radius-10">
                                                        <a href="/<%=product.image[0]%>" class="MagicZoom">

                                                            <img src="/<%=product.image[0]%>" alt="product image"
                                                                style="max-width: 100%;">
                                                        </a>
                                                    </figure>
                                                   
                                            </div>
                                           

                                            <div class="bg-white flex-container">
                                                <% for (var i = 0; i < product.image.length; i++) { %>
                                                    <figure class="border-radius-10 flex-item" style="display: inline-flex;">
                                                       <a href="/<%=product.image[i]%>" class="MagicZoom">
                                                        <img src="/<%= product.image[i] %>" class="MagicZoom" alt="Product image" style="height: 8rem; width: 100%;"></a> 
                                                    </a>
                                                    </figure>
                                                <% } %>
                                            </div>
                                          
                                            
                                        </div>
                                        <!-- End image -->
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="detail-info">
                                            <h2 class="title-detail">
                                                <%=product.title%>
                                            </h2>
                                            <div class="product-detail-rating">
                                                <div class="pro-details-brand">
                                                    <span> Brand: 
                                                            <%=product.brandId.brandName %>
                                                    </span>
                                                   
                                                </div>
                                               
                                            </div>
                                            <div class="clearfix product-price-cover">
                                                <div class="product-price primary-color float-left">
                                                    <ins><span class="text-brand">₹<%=product.salePrice.toFixed(2)%>
                                                                </span></ins>
                                                    <ins><span class="old-price font-md ml-15">₹
                                                            <%=product.regularPrice.toFixed(2)%>
                                                        </span></ins>
                                                    <span class="save-price  font-md color3 ml-15">
                                                        <%=product.bestDiscount%>%OFF
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                            <div class="short-desc mb-30">
                                                <p>
                                                    <%=product.description%>
                                                </p>
                                            </div>
                                            <div class="product_sort_info font-xs mb-30">
                                                <ul>
                                                    <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year Brand
                                                        Warranty
                                                    </li>
                                                    <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return
                                                        Policy</li>
                                                    <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery
                                                        available
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                            <div class="detail-extralink">
                                                <form action="/productDetails?productId=<%=product._id%>" method="post"
                                                    onsubmit="updateHiddenInput()">
                                                    <input type="hidden" value="<%=product._id%>" name="productId">

                                                    <%if(product.quantity>=1){%>
                                                        <div class="detail-qty border radius">
                                                            <a href="#" class="qty-down"
                                                                onclick="updateQuantity(-1); return false;">-</a>
                                                            <span class="qty-val" id="quantitySpan">1</span>
                                                            <input type="number" class="qty-input" name="quantity"
                                                                value="1" max="<%=product.quantity%>" hidden>
                                                            <a href="#" class="qty-up"
                                                                onclick="updateQuantity(1); return false;">+</a>

                                                        </div>
                                                        <%if(locals.message){%>
                                                            <span class="text-danger">
                                                                <%=message%>
                                                            </span>
                                                            <%}%>
                                                                <div class="product-extra-link2">
                                                                    
                                                                    <button type="submit"
                                                                        class="button button-add-to-cart">Add to
                                                                        cart</button>
                                                                        
                                                                  </div>
                                                                <%}else{%>
                                                                    <span
                                                                        class=" text-success font-weight-bold ">Currently
                                                                        Unavailable</span>
                                                                    <%}%>
                                                </form>


                                                <script>
                                                    const quantitySpan = document.getElementById("quantitySpan");
                                                    const quantityInput = document.querySelector(".qty-input");
                                                    const maxQuantity = parseInt(quantityInput.getAttribute("max"), 10);

                                                    function updateQuantity(change) {

                                                        let currentValue = parseInt(quantityInput.value, 10);
                                                        currentValue += change;

                                                        if (currentValue < 1) {
                                                            currentValue = 1;
                                                        }

                                                        currentValue = Math.min(Math.max(currentValue, 1), maxQuantity)
                                                        setTimeout(() => {
                                                            quantityInput.value = currentValue;
                                                            quantitySpan.textContent = currentValue;
                                                        }, 0);
                                                    }

                                                    function updateHiddenInput() {
                                                        // Before submitting the form, ensure the hidden input has the latest value
                                                        quantityInput.value = parseInt(quantitySpan.textContent, 10);
                                                    }
                                                </script>

                                            </div>
                                            <ul class="product-meta font-xs color-grey mt-50">
                                                
                                                <li class="mb-5">Rating: 
                                                    <% for (var i = 0; i < 5; i++) { %>
                                                        <% if (i < product.rating) { %>
                                                            <i class="fa fa-star" style="color: gold;"></i>
                                                        <% } else { %>
                                                            <i class="fa fa-star" style="color: lightgray;"></i>
                                                        <% } %>
                                                    <% } %>
                                                </li>
                                                <li>Availability:
                                                    <%if(product.quantity>0){%>
                                                        <span class="in-stock text-success ml-5">
                                                            <%=product.quantity%> Items In Stock
                                                        </span>
                                                        <%}else{%>
                                                            <span class="in-stock text-danger ml-5">Out of Stock</span>
                                                            <%}%>


                                                </li>

                                            </ul>
                                        </div>
                                        <!-- Detail Info -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-10 m-auto entry-main-content">
                                        <h2 class="section-title style-1 mb-30">Description</h2>
                                        <div class="description mb-50">
                                            <p>
                                                <%=product.description%>
                                            </p>
                                            
                                           
                                            <hr class="wp-block-separator is-style-dots">
                                            
                                            
                                        </div>
                                        <h3 class="section-title style-1 mb-30">Additional info</h3>
                                        <table class="font-md mb-30">
                                            <tbody>
                                                
                                                <tr class="pa_color">
                                                    <th>Color</th>
                                                    <td>
                                                        <p><%=product.color%></p>
                                                    </td>
                                                </tr>
                                                <tr class="pa_color">
                                                    <th>Shape</th>
                                                    <td>
                                                        <p><%=product.shape%></p>
                                                    </td>
                                                </tr>
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <%if(relatedProducts.length>0){%>
                                <div class="row mt-60">
                                    <div class="col-12">
                                        <h3 class="section-title style-1 mb-30">Related products</h3>
                                    </div>
                                    <div class="col-12">
                                        <div class="row related-products">
                                            <%for(i=0;i<relatedProducts.length;i++){%>
                                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                                <div class="product-cart-wrap small hover-up">
                                                    <div class="product-img-action-wrap">
                                                        <div class="product-img product-img-zoom">
                                                            <a href="/productDetails?id=<%=relatedProducts[i]._id%>" tabindex="0">
                                                                <img class="default-img"
                                                                    src="/<%=relatedProducts[i].image[0]%>" alt="">
                                                                <img class="hover-img"
                                                                    src="/<%=relatedProducts[i].image[0]%>" alt="">
                                                            </a>
                                                        </div>
                                                       
                                                    </div>
                                                    <div class="product-content-wrap">
                                                        <h2><a
                                                            href="/productDetails?id=<%=relatedProducts[i]._id%>">
                                                            <%=relatedProducts[i].title%>
                                                        </a></h2>
                                                       
                                                        <div class="product-price">
                                                            <%if(locals.relatedProducts[i].bestDiscount>
                                                            0){%>
                                                            <span>र<%=
                                                                    relatedProducts[i].salePrice.toFixed(2)
                                                                    %>
                                                                    </span>

                                                            <span
                                                                class="old-price">र
                                                                <%=relatedProducts[i].regularPrice%>
                                                                    </span>&nbsp;&nbsp;&nbsp;
                                                            <span
                                                                class="text-muted">
                                                                <%=relatedProducts[i].bestDiscount%>
                                                                    % OFF
                                                            </span>
                                                            <%}else{%>
                                                                <span>र
                                                                    <%=relatedProducts[i].salePrice%>
                                                                        </span>
                                                                <%}%>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%- include('footer') %>
        
            <!-- Vendor JS-->
            <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
            <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
            <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
            <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
            <script src="assets/js/plugins/slick.js"></script>
            <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
            <script src="assets/js/plugins/wow.js"></script>
            <script src="assets/js/plugins/jquery-ui.js"></script>
            <script src="assets/js/plugins/perfect-scrollbar.js"></script>
            <script src="assets/js/plugins/magnific-popup.js"></script>
            <script src="assets/js/plugins/select2.min.js"></script>
            <script src="assets/js/plugins/waypoints.js"></script>
            <script src="assets/js/plugins/counterup.js"></script>
            <script src="assets/js/plugins/jquery.countdown.min.js"></script>
            <script src="assets/js/plugins/images-loaded.js"></script>
            <script src="assets/js/plugins/isotope.js"></script>
            <script src="assets/js/plugins/scrollup.js"></script>
            <script src="assets/js/plugins/jquery.vticker-min.js"></script>
            <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
            <script src="assets/js/plugins/jquery.elevatezoom.js"></script>
            <!-- Template  JS -->
            <script src="assets/js/maind134.js?v=3.4"></script>
            <script src="assets/js/shopd134.js?v=3.4"></script>
</body>

</html>